a
{
  color: #fff5b0;
    text-decoration: none;
}
.bienvenue
{
    color: #fff5b0;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 90px;
    animation: slideDown 1.5s;
    margin-bottom: 10px;
}
.parent
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.cliqueIci{
 
 font-size: 60px;
 font-family: 'Lobster', cursive;
 animation: slideDown 1.5s;
}
.cliqueIci:hover
{
  font-size: 65px;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  height: 100vh;
}

.btn-btn-primary
{
  background: white;
  color: black;
  font-size:20px;
  transform: scale(1);
  transform: scale(1.15);
  text-decoration: none;
  padding: 9px;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 15px;
  font-family: 'Vidaloka', serif;
}
@media screen and (max-width:1350px)
{
  .cliqueIci
  {

  }
}
@media screen and (max-width:840px)
{

  .cliqueIci
  {
    font-size:50px
  }
  .bienvenue
  {
    font-size:70px;
  }
}
@media screen and (max-width:660px)
{
  .bienvenue
  {
    font-size: 40px;
  }
}
@media screen and (max-width:660px)
{
  .cliqueIci
  {
    font-size:28px;
    
  }
  .cliqueIci:hover
  {
    font-size: 30px;
  }
}
@media screen and (max-width:350px)
{
  .bienvenue
  {
    font-size: 35px;
  }
  .cliqueIci
  {
    font-size: 25px;
  }
  .cliqueIci:hover
  {
    font-size:27px;
  }
}
@media screen and (max-width:315px)
{
  .bienvenue
  {
    font-size: 30px;
  }
  .cliqueIci
  {
    font-size: 20px;
  }
  .cliqueIci:hover
  {
    font-size:24px;
  }
}
@keyframes slideDown
{
  from
  {
    transform: translateY(330px);
    opacity: 0.5;
  }
  to
  {
    transform: translateY(0);
    opacity: 1;
  }
}


